@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.menu-icon .bar {
  background-color: white;
  height: 3px;
  margin: 2px 0;
  width: 24px;
}

.menu-icon:hover + .menu-items,
.menu-items:hover {
  display: flex !important;
}
